.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card__front {
  transform: rotateY(90deg);
  position: absolute;
  background-color: white;
}

.flipped .card__front {
  transform: rotateY(0deg);
}
