.dashboard{
  height: 100vh;
  background-color: rgb(9, 9, 15);
  width: 20rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(22, 216, 200);
}

.dashboard__title{
  font-size: 2.4rem;
  letter-spacing: 3px;
  /* margin-bottom: 4rem; */
}


.dashboard__quizcount{
 font-size: 1.3rem;
  padding: 1rem 0; 
}

.dashboard__score{
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 1rem 0;
}